<nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">My Diary</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="">Home</a></li>
        <li *ngIf="userAuthenticated"><a routerLink="data-entry">Diary Entry</a></li>
      </ul>
      <ul class="nav navbar-nav" style="float:right">
        <li *ngIf="!userAuthenticated"><a routerLink="login">Login</a></li>
        <li *ngIf="!userAuthenticated"><a routerLink="sign-up">Sign-Up</a></li>
        <li *ngIf="userAuthenticated"><a >Logout</a></li>
      </ul>
</nav>